<h2><r>SignIn</r></h2>

<form [formGroup]="form" class="column">
  <mat-form-field>
    <mat-label><r>Username</r></mat-label>
    <input matInput formControlName="username" />
    @if (form.controls.username.hasError('required')) {
    <mat-error [innerHTML]="'RequiredErr'|translate:('Username'|translate)"></mat-error>
    }
  </mat-form-field>
  <!---->
  <mat-form-field>
    <mat-label><r>Password</r></mat-label>
    <input matInput formControlName="password" type="password"/>

    <button mat-icon-button matSuffix tabindex="0"><mat-icon>visibility_off</mat-icon></button>
  </mat-form-field>
</form>

<button matButton="filled" color="primary" [disabled]="form.invalid" (click)="signIn()" type="submit"><r>OK</r></button>
