.form-group {
  padding: 0 15px;
}

h2 {
  font-weight: 500;
  font-size: 25px;
}

.form-item {
    cursor: pointer;
    border-radius: 3px;
  padding: 5px;
  /*height: 70px;*/
}

.title {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.description {
  padding: 5px 2px;
}
