/* You can add global styles to this file, and also import other style files */
header {
  align-items: center;
  background-color: cornflowerblue;
  margin-bottom: 8px;
}

footer {
  display: flex;
  padding: 5px;
}
