<div>
  <span class="divider"></span>
</div>

<button routerLink="/create" matFab extended data-help=compose>
  <mat-icon>edit</mat-icon>
  <r>Submit</r>
</button>

  <a matIconButton (click)="help()"><mat-icon>help</mat-icon></a>

<div class="row">
  <mat-nav-list>
    @for (folder of folders; track folder.name) {
    <mat-list-item [routerLink]="['folder', folder.name]" routerLinkActive="active">
      <mat-icon matListItemIcon>{{folder.icon}}</mat-icon>
      <span matListItemTitle [matBadge]="folder.name === 'ib' && messagesCount ? messagesCount: null" matBadgeSize="small">
        {{folder.title}}
      </span>
    </mat-list-item>
    }
  </mat-nav-list>
  <div class="flex">

    <router-outlet />
  </div>
</div>
