<header class="row">
  <button matIconButton routerLink="/"><mat-icon>home</mat-icon></button>

  <span class="divider"></span>
  @if (session.ok) {
  <button matButton (click)="disconnect()"><r>Disconnect</r></button>
  }
  @else {
  <button matButton routerLink="/access"><r>SignIn</r></button>
  }
  <button matIconButton (click)="profile($event)" data-help=settings><mat-icon>account_circle</mat-icon></button>
  |
  <button routerLink="/admin" matIconButton><mat-icon>settings</mat-icon></button>
</header>
@if (loading$ | async) {
<div class="loader-overlay">
  <mat-spinner></mat-spinner> <!-- Or your custom loading indicator -->
</div>
}
<router-outlet />
<hr />
<footer>
  &copy; &nbsp;<r>MFA</r>&nbsp;
  | &nbsp;<a routerLink="/contact"><r>ContactUs</r></a>
</footer>
